# The directory Mix will write compiled artifacts to.
scout/_build/

# If you run "mix test --cover", coverage assets end up here.
scout/cover/

# The directory Mix downloads your dependencies sources to.
scout/deps/

# Where third-party dependencies like ExDoc output generated docs.
scout/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
scout/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
scout/*.ez

# Ignore package tarball (built via "mix hex.build").
scout/scout-*.tar

# Temporary files, for example, from tests.
scout/tmp/

# My own ignores
scout/_build/
